.work-item {
  clear: both;
  overflow: hidden;
  padding-bottom: 4em;
}

.work-bubble {
  float: left;
  padding-right: 20px;
  width: 200px;
  height: 130px;
}

.work-text {
  height: 130px;
  font-size: smaller;
}